.toDoAppContainer {
    display: flex;
    flex: 1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  color: aliceblue;
}
